.header{
    width: 95vw;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    justify-content: space-between;
}

h2{
    margin-left: 5vw;
    font-size: 2.2rem;
    margin-bottom: 6vh;
}

dia{
    font-size: 1.5rem;
}