.escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    min-width: 50%;
    background-color: dimgray;
    cursor: pointer;
}
.selected{
    background-color: rgb(80, 78, 78);
    transform: scale(1.1);
}

.escolha:hover{
    transform: scale(1.1);
}