main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    min-width: 50rem;
    flex-direction: column;
    padding: 10px;
    background: #17181c;
}
#name {
    width: 30%;
    border: 1px solid white;
    border-right: none;
    border-top: none;
    transition: 0.5s;
    padding-left: 10px;
}

#btn {
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid;
    border-color: white;
}

#btn:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 35px rgb(255, 255, 255);
    color: black;
}
